{{!-- EXAMPLE only --}}

<form id="music-form">

	<div class="form">
		<div id="addmusic--song">Song:
		<input id = "song--input" type="text" name="song-input" value=""></div>
	</div>

	<div class="form">
		<div id="addmusic--artist">Artist:
		<input id = "artist--input" type="text" name="artist-input" value=""></div>
	</div>

	<div class="form">
		<div id="addmusic--album">Album:
		<input id = "album--input" type="text" name="album-input" value=""></div>
	</div>

	<div class="form">
		<div id="addmusic--comments">Comments:
		<input id = "comments--input" type="text" name="comments-input" value=""></div>
	</div>
</form>
	<button id="addSong" type="submit" class="form-button">Submit form</button>

{{!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#addmusic--song"></a></li>
    <li><a href="#addmusic--artist"></a></li>
    <li><a href="#addmusic--album"></a></li>
  </ul>
</div>
 --}}