{{!-- Working HBS --}}

<form id="addbook-form">

	<div class="form">
		<div id="addbook--form--title">Title:
		<input id = "addbook--title--input" type="text" value=""></div>
	</div>

	<div class="form">
		<div id="addbook--form--author">Author:
		<input id = "addbook--author--input" type="text" name="" value=""></div>
	</div>

	<div class="form">
		<div id="addbook--form--language">Language:
		<select id="addbook--language--select" type="text" name="" value=""></select>
	</div>

	<div class="form">
		<div id="addbook--form--reader">Reader:
		<select id = "addbook--reader--select" type="text" name="" value=""></select>
	</div>
	<button id="addbook--form--submit" type="submit" class="form-button">Add Reading to Wishlist</button>
</form>




{{!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#addmusic--song"></a></li>
    <li><a href="#addmusic--artist"></a></li>
    <li><a href="#addmusic--album"></a></li>
  </ul>
</div>
 --}}